{{>nav}}
<header class="header-chat">
  <h2>
    Centro de Mensajes
  </h2>
</header>
<fieldset>
  <form onSubmit="addMessage();return false">
    Email
    <input type="email" name="email" id="email" required>
    Mensaje
    <input type="text" name="message" id="message">
    <button id="send" type="submit" class="btn btn-primary">Enviar</button>
    <script>
    
</script>
</div>