<% if (productos.length >0) { %>
    <h2>
        Productos Cargados
    </h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < productos.length; i++) { %>
                <tr>
                    <td><%= productos[i].nombre %></td>
                    <td><%= productos[i].precio %></td>
                    <td><img src="<%= productos[i].imagen %>" alt="Foto de <%= productos[i].nombre %>"></td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <a href="/">
        <button>Volver</button>
    </a>
<% } else { %>
    <h2>No hay productos cargados</h2>
    <a href="/">
        <button>Volver</button>
    </a>
<% } %>



 